.logo-section{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 3rem;
    font-size:xx-large;
    font-weight: 600;
    color: rgb(226, 165, 165);
    margin-right: 6rem;
    background-color: rgb(246, 240, 225);
}