*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(246, 240, 225);
}
.container{
   background-color: rgb(246, 240, 225);
   display: flex;
   justify-content: center;
   margin-top: 2rem;
}
.sign-in{
    width: auto;
    height:auto;
    padding:2rem;
    display: flex;
    flex-direction: column;
    background-color: blue;
    border-radius: 12px;
    align-items: center;
}
.logo-section-this{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 3rem;
    font-size:xx-large;
    font-weight: 600;
    color: rgb(226, 165, 165);
    margin-right: 6rem;
    background-color: blue;
}
.personal{
    display:block;
    margin:1rem;
    background-color: blue;
}
input{
    width: 20rem;
    margin-left:0.5rem;
    border-radius: 12px;
    padding:0.5rem;
    /* font-size: x-large; */
}